<!DOCTYPE html>
<html>
  <head>
    <title><%= data.title %></title>
    <link rel='stylesheet' href='/stylesheets/form.css' />
  </head>
  <body>
    <div class="container">
      <h1><%= data.title %></h1>
      <form action="/join_membership" method="post">
        <div class="form_item">
          <label for="password">Password<span class="password_message"></span></label>
          <input type="password" name="password" id="password" required>
        </div>

        <% if (data.error) { %>
          <p style="color: red;"><%= data.error %></p>
        <% } %>

        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
